<div class="row">
  <div class="span well">
       <h2>Add/view notes for an alert</h2>

      <%= render  'alerts/edit_alert' , cancel_path: alerts_path(),  nested_alert_edit: "false"  %>

  </div>
</div>