.display_as_external {
  background-color:#D3E2B6;
  color:black;}

.display_as_external_reply {
  background-color:#D3F2B6;
  color:black;}

 .display_as_external_attachment {
  background-color:#D3E2B6;
  color:black;}

.display_as_reply {
  background-color:#AACCB1;
  color:black;}

 .max-screen {
  min-height: 100%;
  position:relative;
 }

.well {
    box-sizing: border-box;
}